h1,
h2 {
    color: blue;
    font-size: 16px;
}

p {
    color: rgb(88, 88, 88);
    font-size: 14px;
}

/* CSS Structure */

/* Avoid directly to tag selector */

/* Always use class selector only */

/* selector { property:  value } */
.warning-message {
    color: rgb(255, 1, 1);
    font-size: 12px;
}

#useremail {
    width: 300px;
    height: 25px;
    font-size: 12px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: bisque;
}
